Repository uqbar-project/wollok, pull requests merged in 2018-10, with the labels that each got.

#1515 Fix #1504 assertion exception for expected exception
  org.uqbar.project.wollok.lib/src/wollok/lib.wlk
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/interpreter/ExceptionTestCase.xtend
Labels: component: sdk-lib, component: tests, in progress

#1517 Fix #1489 instantiation with mixed method containers
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/validations/mixins/MixedMethodContainerInstantiation.wlk.xt
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/model/WMethodContainerExtensions.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/validation/WollokDslValidator.xtend
Labels: component: mixins, in progress

#1516 fix #1488 toString() for mixed method containers
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/interpreter/mixins/MixinsTestCase.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/interpreter/MixedMethodContainer.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/interpreter/core/ToStringBuilder.xtend
Labels: component: mixins, in progress

#1525 Fix #1519 non initialized variables and const in method containers
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/quickfix/ConstructorsQuickFixTest.xtend
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/NamedObjectVariableInitialization.wlk.xt
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/NamedParameters.wlk.xt
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/UnusedVariable.wlk.xt
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/model/WollokModelExtensions.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/validation/WollokDslValidator.xtend
Labels: component: validator, in progress

#1537 Changing version to 1.7.2
  org.uqbar.project.wollok.game/META-INF/MANIFEST.MF
  org.uqbar.project.wollok.game/pom.xml
  org.uqbar.project.wollok.launch/META-INF/MANIFEST.MF
  org.uqbar.project.wollok.launch/pom.xml
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/launch/Wollok.xtend
  org.uqbar.project.wollok.lib/META-INF/MANIFEST.MF
  org.uqbar.project.wollok.lib/pom.xml
  org.uqbar.project.wollok.product.ui.feature/feature.xml
  org.uqbar.project.wollok.product.ui.feature/pom.xml
  org.uqbar.project.wollok.product.ui/META-INF/MANIFEST.MF
  org.uqbar.project.wollok.product.ui/pom.xml
  org.uqbar.project.wollok.product/META-INF/MANIFEST.MF
  org.uqbar.project.wollok.product/plugin.xml
  org.uqbar.project.wollok.product/pom.xml
  org.uqbar.project.wollok.releng/pom.xml
  org.uqbar.project.wollok.sdk/feature.xml
  org.uqbar.project.wollok.sdk/pom.xml
  org.uqbar.project.wollok.targetplatform/pom.xml
  org.uqbar.project.wollok.tests/META-INF/MANIFEST.MF
  org.uqbar.project.wollok.tests/pom.xml
  org.uqbar.project.wollok.typeSystem.ui/META-INF/MANIFEST.MF
  org.uqbar.project.wollok.typeSystem.ui/pom.xml
  org.uqbar.project.wollok.typeSystem/META-INF/MANIFEST.MF
  org.uqbar.project.wollok.typeSystem/pom.xml
  org.uqbar.project.wollok.ui.diagrams/META-INF/MANIFEST.MF
  org.uqbar.project.wollok.ui.diagrams/pom.xml
  org.uqbar.project.wollok.ui.launch/META-INF/MANIFEST.MF
  org.uqbar.project.wollok.ui.launch/pom.xml
  org.uqbar.project.wollok.ui/META-INF/MANIFEST.MF
  org.uqbar.project.wollok.ui/pom.xml
  org.uqbar.project.wollok.updatesite/category.xml
  org.uqbar.project.wollok.updatesite/pom.xml
  org.uqbar.project.wollok.updatesite/wollok-product.product
  org.uqbar.project.wollok/META-INF/MANIFEST.MF
  org.uqbar.project.wollok/pom.xml
  org.uqbar.project.xinterpreter/META-INF/MANIFEST.MF
  org.uqbar.project.xinterpreter/pom.xml
Labels: in progress, product

#1538 Fixing About Wollok icon #1510
  org.uqbar.project.wollok.product/plugin.xml
Labels: in progress, product

#1527 Ts null literal
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/typesystem/xpect/literals.wpgm.xt
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/typesystem/xpect/nullLiterals.wpgm.xt
  org.uqbar.project.wollok.typeSystem/src/org/uqbar/project/wollok/typesystem/constraints/ConstraintGenerator.xtend
Labels: in progress

#1524 Autocomplete with typesystem
  org.uqbar.project.wollok.typeSystem.ui/src/org/uqbar/project/wollok/typeSystem/ui/labeling/WollokTypeSystemLabelExtensionImpl.xtend
  org.uqbar.project.wollok.typeSystem/src/org/uqbar/project/wollok/typesystem/MessageType.xtend
  org.uqbar.project.wollok.typeSystem/src/org/uqbar/project/wollok/typesystem/UnionType.xtend
  org.uqbar.project.wollok.typeSystem/src/org/uqbar/project/wollok/typesystem/WollokType.xtend
  org.uqbar.project.wollok.typeSystem/src/org/uqbar/project/wollok/typesystem/constraints/ConstraintBasedTypeSystem.xtend
  org.uqbar.project.wollok.ui/src/org/uqbar/project/wollok/ui/contentassist/WollokDslProposalProvider.xtend
  org.uqbar.project.wollok.ui/src/org/uqbar/project/wollok/ui/labeling/WollokTypeSystemLabelExtension.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/model/ResourceUtils.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/validation/AbstractConfigurableDslValidator.xtend
Labels: component: autocomplete, component: type system, in progress

#1533 Fix #1520 local variables describe
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/DuplicatedInstanceVariable.wtest.xt
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/model/WollokModelExtensions.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/scoping/WollokDslScopeProvider.xtend
Labels: component: import & scope system, component: tests, in progress

#1535 Fixing #1531 - formatter issue for methods in describe
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/formatter/TestingFormatterTestCase.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/formatting2/WollokDslFormatter.xtend
Labels: component: formatter, in progress

#1536 #1532 - fixing interpreter calling super() and considering properties…
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/interpreter/PropertiesTestCase.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/interpreter/core/WollokObject.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/model/WMethodContainerExtensions.xtend
Labels: component: interpreter, component: validator, in progress

#1539 Fix #1486 if with assignment
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/nonBooleanValueInIfCondition.wlk.xt
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/model/WollokModelExtensions.xtend
Labels: component: validator, in progress

#1540 Fix #1491 - validation and quick fix for return expression in parameter
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/quickfix/ReturnInParameterQuickFixTest.xtend
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/cannotReturnAssignment.wlk.xt
  org.uqbar.project.wollok.ui/src/org/uqbar/project/wollok/ui/Messages.java
  org.uqbar.project.wollok.ui/src/org/uqbar/project/wollok/ui/messages.properties
  org.uqbar.project.wollok.ui/src/org/uqbar/project/wollok/ui/messages_es.properties
  org.uqbar.project.wollok.ui/src/org/uqbar/project/wollok/ui/quickfix/WollokDslQuickfixProvider.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/Messages.java
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/messages.properties
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/messages_es.properties
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/model/WMethodContainerExtensions.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/model/WollokModelExtensions.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/validation/WollokDslValidator.xtend
Labels: component: quickfix, component: validator, in progress
