Repository uqbar-project/wollok, pull requests merged in 2019-09, with the labels that each got.

#1738 Feature #1623 Adding methods to wollok game
  org.uqbar.project.wollok.lib/src/wollok/game.wlk
  org.uqbar.project.wollok.lib/src/wollok/game/GameObject.xtend
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/sdk/GameTest.xtend
  org.uqbar.project.wollok.typeSystem/src/org/uqbar/project/wollok/typesystem/annotations/WollokGameTypeDeclarations.xtend
Labels: component: wollokgame

#1758 Fix #1111 must not allow to override imported object
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/DuplicatedReferenceFromImports.wlk.xt
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/DuplicatedReferenceFromImports.wtest.xt
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/Messages.java
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/messages.properties
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/messages_es.properties
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/model/WollokModelExtensions.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/validation/WollokDslValidator.xtend
Labels: component: validator, severity: 3 - Major, type: Enhancement

#1793 Fix #1762 - nls unused message
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/launch/messages_es.properties
Labels: i18n

#1802 Test: fixing dirty state editor
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/scoping/WollokGlobalScopeProvider.xtend
Labels: component: import & scope system

#1765 Fix #1734 multiples describes in tests
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/launch/Messages.java
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/launch/WollokLauncherInterpreterEvaluator.xtend
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/launch/messages.properties
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/launch/messages_es.properties
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/launch/tests/DefaultWollokTestsReporter.xtend
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/launch/tests/WollokConsoleTestsReporter.xtend
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/launch/tests/WollokRemoteTestReporter.xtend
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/launch/tests/WollokRemoteUITestNotifier.xtend
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/launch/tests/WollokResultTestDTO.xtend
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/launch/tests/WollokTestsReporter.xtend
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/launch/tests/json/WollokJSONTestsReporter.xtend
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/DuplicatedDescribeTest.wtest.xt
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/MultipleDescribes.wtest.xt
  org.uqbar.project.wollok.ui.launch/icons/suite.png
  org.uqbar.project.wollok.ui.launch/icons/suite2.png
  org.uqbar.project.wollok.ui.launch/icons/suiteerr.png
  org.uqbar.project.wollok.ui.launch/icons/suitefail.png
  org.uqbar.project.wollok.ui.launch/icons/suiteok.png
  org.uqbar.project.wollok.ui.launch/icons/suiterun.png
  org.uqbar.project.wollok.ui.launch/icons/wollok-icon-testerr_16.png
  org.uqbar.project.wollok.ui.launch/icons/wollok-icon-testfail_16.png
  org.uqbar.project.wollok.ui.launch/icons/wollok-icon-testok_16.png
  org.uqbar.project.wollok.ui.launch/icons/wollok-icon-testrun_16.png
  org.uqbar.project.wollok.ui.launch/src/org/uqbar/project/wollok/ui/tests/WollokTestResultView.xtend
  org.uqbar.project.wollok.ui.launch/src/org/uqbar/project/wollok/ui/tests/model/WollokTestContainer.xtend
  org.uqbar.project.wollok.ui.launch/src/org/uqbar/project/wollok/ui/tests/model/WollokTestFileContainer.xtend
  org.uqbar.project.wollok.ui.launch/src/org/uqbar/project/wollok/ui/tests/model/WollokTestGlobalContainer.xtend
  org.uqbar.project.wollok.ui.launch/src/org/uqbar/project/wollok/ui/tests/model/WollokTestResults.xtend
  org.uqbar.project.wollok.ui/icons/suiteerr.png
  org.uqbar.project.wollok.ui/icons/suitefail.png
  org.uqbar.project.wollok.ui/icons/suiteok.png
  org.uqbar.project.wollok.ui/icons/suiterun.png
  org.uqbar.project.wollok.ui/icons/wollok-icon-testerr_16.png
  org.uqbar.project.wollok.ui/icons/wollok-icon-testfail_16.png
  org.uqbar.project.wollok.ui/icons/wollok-icon-testok_16.png
  org.uqbar.project.wollok.ui/icons/wollok-icon-testrun_16.png
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/Messages.java
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/WollokDsl.xtext
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/formatting2/WollokDslFormatter.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/interpreter/WollokInterpreterEvaluator.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/messages.properties
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/messages_es.properties
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/model/WMethodContainerExtensions.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/model/WollokModelExtensions.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/validation/WollokDslValidator.xtend
Labels: component: tests, component: validator

#1812 Fix #1776 - Ajuste fino de los mensajes de error ante superposición de nombres de referencia
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/DuplicatedReferenceFromImports.wlk.xt
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/DuplicatedReferenceFromImports.wtest.xt
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/messages.properties
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/messages_es.properties
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/model/WollokModelExtensions.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/validation/WollokDslValidator.xtend
Labels: complexity: 1 - Trivial, component: validator
