Repository uqbar-project/wollok, pull requests merged in 2019-08, with the labels that each got.

#1713 Fix #1712 - creating a connection with null name produced a NPE
  org.uqbar.project.wollok.ui.diagrams/src/org/uqbar/project/wollok/ui/diagrams/classes/model/Connection.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/scoping/WollokGlobalScopeProvider.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/utils/StringUtils.xtend
Labels: component: static diagram

#1716 Imports repl highlight fix #1707
  org.uqbar.project.wollok.ui.launch/src/org/uqbar/project/wollok/ui/console/highlight/WollokCodeHighLightLineStyleListener.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/scoping/WollokGlobalScopeProvider.xtend
Labels: component: repl

#1722 Dynamic diagram #1710 core objects
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/debugger/server/rmi/XDebugStackFrame.xtend
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/debugger/server/rmi/XDebugStackFrameVariable.xtend
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/launch/repl/WollokRepl.xtend
  org.uqbar.project.wollok.ui.diagrams/src/org/uqbar/project/wollok/ui/diagrams/classes/model/Shape.xtend
  org.uqbar.project.wollok.ui.diagrams/src/org/uqbar/project/wollok/ui/diagrams/classes/parts/AbstractMethodContainerEditPart.xtend
  org.uqbar.project.wollok.ui.diagrams/src/org/uqbar/project/wollok/ui/diagrams/classes/view/AbstractClassMemberFigure.xtend
  org.uqbar.project.wollok.ui.diagrams/src/org/uqbar/project/wollok/ui/diagrams/dynamic/DynamicDiagramView.xtend
  org.uqbar.project.wollok.ui.diagrams/src/org/uqbar/project/wollok/ui/diagrams/dynamic/parts/VariableModel.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/interpreter/core/WollokNativeLobby.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/interpreter/core/WollokObject.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/model/WMethodContainerExtensions.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/sdk/WollokSDK.xtend
  org.uqbar.project.xinterpreter/src/org/uqbar/project/wollok/interpreter/context/CompositeEvaluationContext.xtend
  org.uqbar.project.xinterpreter/src/org/uqbar/project/wollok/interpreter/context/EvaluationContext.xtend
  org.uqbar.project.xinterpreter/src/org/uqbar/project/wollok/interpreter/context/MapBasedEvaluationContext.xtend
Labels: component: dynamic diagram

#1727 Using code tag instead of plain html
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/wollokDoc/WollokDocParser.xtend
Labels: component: wollokdoc

#1725 Autocomplete properties #1325
  org.uqbar.project.wollok.ui/src/org/uqbar/project/wollok/ui/contentassist/WollokDslProposalProvider.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/model/WollokModelExtensions.xtend
Labels: component: autocomplete

#1729 Fixing #1325 again!
  org.uqbar.project.wollok.ui/src/org/uqbar/project/wollok/ui/contentassist/WollokDslProposalProvider.xtend
Labels: component: autocomplete

#1753 Fix #1752 - Bad wollok date after operation returning a date
  org.uqbar.project.wollok.lib/src/wollok/lang/WDate.xtend
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/interpreter/DateTestCase.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/interpreter/WollokInterpreterEvaluator.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/interpreter/core/WollokObject.xtend
Labels: component: sdk-lib

#1754 fix #1739 - Definición de una constante por fuera de un container me pide que inicie en minúscula
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/CheckOnNameStyles.wlk.xt
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/validation/WollokDslValidator.xtend
Labels: component: validator

#1749 Fix #1743 - without duplicates de list no respeta el orden
  org.uqbar.project.wollok.lib/src/wollok/lang.wlk
  org.uqbar.project.wollok.lib/src/wollok/lang/WCollection.xtend
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/interpreter/ListTestCase.xtend
Labels: component: sdk-lib
