Repository uqbar-project/wollok, pull requests merged in 2019-07, with the labels that each got.

#1675 Fix #1618 Repl optimization
  org.uqbar.project.wollok.ui.launch/src/org/uqbar/project/wollok/ui/console/actions/WollokReplConsoleActionsParticipant.xtend
  org.uqbar.project.wollok.ui.launch/src/org/uqbar/project/wollok/ui/launch/extensions/WollokConsoleExtensions.xtend
  org.uqbar.project.wollok.ui.launch/src/org/uqbar/project/wollok/ui/launch/shortcut/WollokLaunchDelegate.xtend
Labels: component: launcher, component: repl

#1680 fix: #1674 - 0.times() issue
  org.uqbar.project.wollok.lib/src/wollok/lang.wlk
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/interpreter/NumberTestCase.xtend
Labels: hackaton

#1685 fix: #1241 - dayOfWeek() returns object
  org.uqbar.project.wollok.lib/src/wollok/lang.wlk
  org.uqbar.project.wollok.lib/src/wollok/lang/WDate.xtend
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/interpreter/DateTestCase.xtend
Labels: hackaton

#1683 fix: #1634 changed warning to Variable could be never assigned
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/CheckVarAssignment.wlk.xt
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/NamedObjectVariableInitialization.wlk.xt
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/PropertiesDefinition.wpgm.xt
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/messages.properties
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/messages_es.properties
Labels: hackaton

#1690 Better autocomplete => filtering private methods
  org.uqbar.project.wollok.lib/src/wollok/lang.wlk
  org.uqbar.project.wollok.ui/src/org/uqbar/project/wollok/ui/contentassist/WollokDslProposalProvider.xtend
Labels: component: autocomplete, component: sdk-lib

#1698 Fix #1286 code outside a fixture
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/parser/MethodParserTest.xtend
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/parser/TestParserTest.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/Messages.java
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/messages.properties
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/messages_es.properties
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/parser/WollokSyntaxErrorMessageProvider.xtend
Labels: component: parser message

#1703 Small change, big deal
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/scoping/WollokGlobalScopeProvider.xtend
Labels: component: import & scope system

#1704 Fixes #1702. Considerar postponed como un resultado que no implica ca…
  org.uqbar.project.wollok.typeSystem/src/org/uqbar/project/wollok/typesystem/constraints/strategies/PropagateMinimalTypes.xtend
Labels: component: type system

#1701 Scm automation #1696
  .gitignore
  .travis.yml
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/wollokDoc/DirExplorer.xtend
  org.uqbar.project.wollok.launch/src/org/uqbar/project/wollok/wollokDoc/WollokDocParser.xtend
  org.uqbar.project.wollok.ui/src/org/uqbar/project/wollok/ui/contentassist/WollokDslProposalProvider.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/model/WMethodContainerExtensions.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/sdk/WollokSDK.xtend
  scripts/ssh_config
  scripts/updateRestOfWollokRepos
  scripts/wollokcli_key.enc
  scripts/wolloksite_key.enc
Labels: scm

#1715 Feature #1692 change to string of date
  org.uqbar.project.wollok.lib/src/wollok/lang.wlk
  org.uqbar.project.wollok.lib/src/wollok/lang/WDate.xtend
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/base/AbstractWollokParameterizedInterpreterTest.xtend
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/interpreter/AbstractWollokInterpreterTestCase.xtend
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/interpreter/DateTestCase.xtend
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/interpreter/NumberTestCase.xtend
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/interpreter/PairTestCase.xtend
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/interpreter/StringTestCase.xtend
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/WollokXPectTest.xtend
Labels: component: sdk-lib
