Repository uqbar-project/wollok, pull requests merged in 2019-10, with the labels that each got.

#1827 Enhancement #1726 - quick fix - agregar import de un elemento no existente
  org.uqbar.project.wollok.ui/src/org/uqbar/project/wollok/ui/Messages.java
  org.uqbar.project.wollok.ui/src/org/uqbar/project/wollok/ui/messages.properties
  org.uqbar.project.wollok.ui/src/org/uqbar/project/wollok/ui/messages_es.properties
  org.uqbar.project.wollok.ui/src/org/uqbar/project/wollok/ui/quickfix/QuickFixUtils.xtend
  org.uqbar.project.wollok.ui/src/org/uqbar/project/wollok/ui/quickfix/WollokDslQuickfixProvider.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/libraries/WollokLibExtensions.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/model/WollokModelExtensions.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/scoping/WollokImportedNamespaceAwareLocalScopeProvider.xtend
Labels: complexity: 3 - Intermediate, component: quickfix, type: Enhancement

#1831 Fix #1823 - sleep interrupted - ignoring and trying to build the proj…
  org.uqbar.project.wollok.ui/src/org/uqbar/project/wollok/ui/WollokActivator.xtend
Labels: component: editor

#1840 Fix #1820 Position message instead of attribute
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/messages.properties
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/messages_es.properties
Labels: component: wollokgame

#1834 Fix #1794 indentar constantes globales
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/formatter/TestingFormatterTestCase.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/formatting2/WollokDslFormatter.xtend
Labels: component: formatter

#1844 Fix referenciable linking error
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/interpreter/namedobjects/NamedObjectTestCase.xtend
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/CheckVarReferences.wpgm.xt
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/ConstructorAndConsts.wlk.xt
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/NamedParameters.wlk.xt
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/xpect/parserErrors/MisplacedInstanceVariable.wlk.xt
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/errorHandling/HumanReadableUtils.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/linking/WollokLinkingDiagnosticMessageProvider.xtend
Labels: component: interpreter

#1847 Fix #1830 - formatter conflicts
  org.uqbar.project.wollok.tests/formatters.launch
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/formatter/AbstractWollokFormatterTestCase.xtend
  org.uqbar.project.wollok.tests/src/org/uqbar/project/wollok/tests/formatter/TestingFormatterTestCase.xtend
  org.uqbar.project.wollok/src/org/uqbar/project/wollok/formatting2/WollokDslFormatter.xtend
Labels: component: formatter
